<div class="footer-container">

  <div>Paradise Burger Slogan goes here.</div>

  <div class="btn-group">
    <a href="#"><span class="typcn typcn-social-facebook-circular"></span></a>
    <a href="#"><span class="typcn typcn-social-instagram-circular"></span></a>
    <a href="#"><span class="typcn typcn-social-twitter-circular"></span></a>
  </div>

  <ul>
      <li><a href="#">link</a></li>
      <li><a href="#">link</a></li>
      <li><a href="#">link</a></li>
  </ul>

  <img src="../../assets/img/logo-text-white.svg" height="40px">

  <span>© Paradise Burger. 2018</span>
</div>

<div class="credits-container">
    <a href="#"><span class="typcn typcn-code"></span> Developed by Juan Albelo</a>
</div>
