<div class="special-container" *ngIf="special">
  <small>TODAY'S SPECIAL OFFER</small>
  <div class="offer-title">{{special.name}}</div>
  <div class="offer-description">{{special.description}}</div>
  <div class="offer-price">{{special.specialPrice | currency }}</div>
  <!-- <div class="offer-button"><a href="#">order now</a></div> -->
  <div class="offer-img"></div>
</div>

<div id="menu-section" class="menu-container">
  <div class="title-font">Our Menu</div>
  <div class="subtitle-font">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</div>

  <div class="menu-item" *ngFor="let item of menu">
    <div class="menu-img">
      <img [src]="item.image" alt="Menu Item">
    </div>
    <div class="menu-content">
      <div class="item-title">{{item.name}}</div>
      <div class="item-ingredients">{{item.description}}</div>
      <div class="item-price">{{item.price | currency}}</div>
    </div>
  </div>

</div>
