<div class="special-container">
  <small>SPECIAL OFFER</small>
  <div class="offer-title">Classic Burger</div>
  <div class="offer-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
  <div class="offer-price">$4.99</div>
  <!-- <div class="offer-button"><a href="#">order now</a></div> -->
  <div class="offer-img"></div>
</div>

<div id="menu-section" class="menu-container">
  <div class="title-font">Our Menu</div>
  <div class="subtitle-font">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</div>

  <div class="menu-item" *ngFor="let x of [1,2,3,4,5]">
    <div class="menu-img">
      <img src="../../assets/menu/item-1.jpg" alt="Menu Item">
    </div>
    <div class="menu-content">
      <div class="item-title">Classic Burger</div>
      <div class="item-ingredients">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="item-price">$7.99</div>
    </div>
  </div>

</div>
