<div class="news-container">

  <div class="image-carousel animate-pop-in">
    <slideshow [imageUrls]="images"></slideshow>
  </div>

  <div class="news-title animate-pop-in">
    <div class="title-font">Upcoming Events</div>
    <div class="subtitle-font">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
  </div>

  <!-- <div class="card-container" *ngFor="let x of [1,2,3]">
    <div>Happy Hour Special</div>
    <span>Enjoy Happy Hour Specials in our restaurant Monday through Friday 3pm-6pm &amp; 9pm-Close! Get the details on our food and drink specials here...</span>
    <small>03/07/2018</small>
  </div> -->

  <div class="event" *ngFor="let event of events">
    <div class="event-container animate-pop-in">
      <div class="date-container">
        <div>{{event.date | date:'dd'}}</div>
        <span>{{event.date | date:'MMM'}}</span>
      </div>
      <div class="event-info">
        <div>{{event.event}}</div>
        <p>{{event.eventDescription}}</p>
      </div>
    </div>

  </div>

</div>
